VITE_PACKAGE_ID=0xb1aa5cf72d7c9e7e237c2ddcd785ceb7aacbef4229ee712ec05f9afb188b0ab9
VITE_MODULE_NAME=degreensci
VITE_NFT_REGISTRY=
VITE_SUI_NETWORK=testnet
VITE_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
VITE_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
VITE_WALRUS_SECRET=D3vPr0s#2025
